@import "./libs/normalize";
@import "./components/all";

body {
  background-color: #ffdf8c;
  padding: 50px 0;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}

.content {
  padding: 40px 0;

  // &__title {
  //   margin: 35px 0;
  // }

  // &__items {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  // }

  // &__top {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
}
